<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <div class="sidebar-brand d-flex align-items-center justify-content-center">
    <div style="background-color: white; border-radius: 30px; padding: 10px;" class="scrollto">
      <img src="../../../assets/img/logo.png" alt="" class="img-fluid">
    </div>
  </div>

  <hr class="sidebar-divider my-0" />

  <li class="nav-item">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-home"></i>
      <span>Home</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/dashboard']">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Manutenção
  </div>

  <!--li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
      aria-controls="collapseOne">
      <i class="fas fa-university"></i>
      <span>Empresa</span>
    </a>
    <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" [routerLink]="['/admin/empresa']">Manter</a>
      </div>
    </div>
  </li-->

  <!--li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
      aria-controls="collapseThree">
      <i class="fas fa-id-card"></i>
      <span>Funcionários</span>
    </a>
    <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" [routerLink]="['/admin/funcionarioCadastro']">Cadastrar</a>
        <a class="collapse-item" [routerLink]="['/admin/funcionarioLista']">Listar</a>
      </div>
    </div>
  </li-->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/empresamanter']">
      <i class="fas fa-id-card"></i>
      <span>Empresas</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/supportemployee']">
      <i class="fas fa-id-card"></i>
      <span>Funcionários</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/clientemanter']">
      <i class="fas fa-users"></i>
      <span>Clientes</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/collector']">
      <i class="fas  fa-mobile-alt"></i>
      <span>Coletor</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/inventariolista']">
      <i class="fas fa-fw fa-folder"></i>
      <span>Inventário</span>
    </a>
  </li>
  <!-- MENU COM SUBMENU
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true"
      aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Utilities</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Utilities:</h6>
        <a class="collapse-item" href="utilities-color.html">Colors</a>
        <a class="collapse-item" href="utilities-border.html">Borders</a>
        <a class="collapse-item" href="utilities-animation.html">Animations</a>
        <a class="collapse-item" href="utilities-other.html">Other</a>
      </div>
    </div>
  </li>-->

  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Extras - Em breve
  </div>

  <!--<li class="nav-item">
    <a class="nav-link">
      <i class="fas fa-fw fa-table"></i>
      <span>Gráficos</span></a>
  </li>-->
</ul>