<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 *ngIf="!clienteSelecionado" class="h3 mb-0 text-gray-800">Cadastro de Empresa</h1>
    <h1 *ngIf="clienteSelecionado" class="h3 mb-0 text-gray-800">Alterar de Empresa</h1>
</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <form class="user" [formGroup]="empresaForm">
            <div class="form-group row">
                <mat-form-field class="col-sm-12 mb-3 mb-sm-0">
                    <input matInput placeholder="Razão Social/Nome Completo" formControlName="fullnamecompany" name="fullnamecompany"
                        required>
                </mat-form-field>
            </div>
            <div class="form-group row">
                <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                    <input matInput placeholder="CNPJ" formControlName="cnpj" name="cnpj" mask="00.000.000/0000-00">
                    <mat-error *ngIf="empresaForm.get('cnpj').getError('cnpjNotValid')">O CNPJ é inválido</mat-error>
                </mat-form-field>
            </div>

            <div class="form-group row">
                <mat-form-field class="col-sm-12 mb-3 mb-sm-0">
                    <input matInput placeholder="Email" formControlName="email" name="email" required>
                    <mat-error *ngIf="empresaForm.get('email').errors">Email inválido</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group row" formArrayName="phones">
                <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                    <input matInput type="tel" mask="(00) 00009-0000" placeholder="Telefone Principal" formControlName="main"
                        name="main">
                </mat-form-field>
                <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                    <input matInput type="tel" mask="(00) 00009-0000" placeholder="Telefone Secundário" formControlName="secundary"
                        name="secundary">
                </mat-form-field>
            </div>
            <div formArrayName="address">
                <div class="form-group row">
                    <mat-form-field class="col-sm-12 mb-3 mb-sm-0">
                        <input matInput type="street" placeholder="Rua" formControlName="street" name="street">
                    </mat-form-field>
                </div>
                <div class="form-group row">
                    <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                        <input matInput type="number" placeholder="Número" formControlName="number" name="number">
                    </mat-form-field>
                    <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                        <input matInput type="complement" placeholder="Complemento" formControlName="complement" name="complement">
                    </mat-form-field>

                </div>
                <div class="form-group row">
                    <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                        <input matInput type="zip" mask="00000-000" placeholder="CEP" formControlName="zip" name="zip">
                    </mat-form-field>
                    <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                        <input matInput type="district" placeholder="Bairro" formControlName="district" name="district">
                    </mat-form-field>
                </div>
                <div class="form-group row">
                    <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                        <input matInput type="city" placeholder="Cidade" formControlName="city" name="city">
                    </mat-form-field>
                </div>
                <div class="form-group row">
                    <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                        <input matInput type="state" placeholder="Estado" formControlName="state" name="state">
                    </mat-form-field>
                    <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                        <input matInput type="country" placeholder="País" formControlName="country" name="country">
                    </mat-form-field>
                </div>

            </div>
            <hr />
            <button (click)="cadastrar()" [disabled]="empresaForm.invalid" class="btn btn-primary btn-user btn-block">
                <span *ngIf="!empresaSelecionado">Cadastrar Empresa</span>
                <span *ngIf="empresaSelecionado">Alterar Empresa</span>
            </button>
            <button (click)="voltar()" class="btn btn-primary btn-user btn-block">
                <span>Voltar</span>
            </button>

        </form>
    </div>
</div>