<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 *ngIf="!employeeSelected" class="h3 mb-0 text-gray-800">Cadastrar de Funcionário</h1>
    <h1 *ngIf="employeeSelected" class="h3 mb-0 text-gray-800">Alterar de Funcionário</h1>
</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <form class="user" [formGroup]="employeeForm">
            <!--input type="hidden" formControlName="idaddress" name="idaddress" /-->

            <div class="form-check">
                <input (click)="exibirComboEmpresa=true;exibirComboCliente=false" class="form-check-input" type="radio"
                    name="exampleRadios" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1"> Empresa </label>
            </div>
            <div class="form-check">
                <input (click)="exibirComboCliente=true;exibirComboEmpresa=false" class="form-check-input" type="radio"
                    name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2"> Cliente </label>
            </div>
            <div class="col-sm-12 mb-3 mb-sm-0" *ngIf="exibirComboEmpresa">
                <label for="empresa" class="control-label">Empresa</label>
                <select class="form-control" formControlName="idcompany" name="idcompany">
                    <option *ngFor="let empresa of empresas" [value]="empresa._id">{{empresa.fullnamecompany}}</option>
                </select>
            </div>
            <div class="col-sm-12 mb-3 mb-sm-0" *ngIf="exibirComboCliente">
                <label for="client" class="control-label">Cliente</label>
                <select class="form-control" formControlName="idclient" name="idclient">
                    <option *ngFor="let client of clients" [value]="client._id">{{client.fullnameclient}}</option>
                </select>
            </div>
            <div class="form-group row">
                <mat-form-field class="col-sm-12 mb-3 mb-sm-0">
                    <input matInput placeholder="Nome Completo" formControlName="fullname" name="fullname" required>
                </mat-form-field>
            </div>

            <div class="form-group row">
                <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                    <input matInput placeholder="CPF" formControlName="cpf" name="cpf" mask="000.000.000-00">
                    <mat-error *ngIf="employeeForm.get('cpf').getError('cpfNotValid')">O CPF é inválido</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group row">
                <mat-form-field class="col-sm-12 mb-3 mb-sm-0">
                    <input matInput placeholder="Email" formControlName="email" name="email" required>
                    <mat-error *ngIf="employeeForm.get('email').errors">Email inválido</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group row" formArrayName="phones">
                <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                    <input matInput type="tel" mask="(00) 00009-0000" placeholder="Telefone Principal" formControlName="main"
                        name="main">
                </mat-form-field>
                <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                    <input matInput type="tel" mask="(00) 00009-0000" placeholder="Telefone Secundário" formControlName="secundary"
                        name="secundary">
                </mat-form-field>
            </div>
            <!--li *ngFor="let item of address; let i = index">
                {{i}} {{item.street}}
                {{i}} {{item.complement}}
                {{i}} {{item.number}}
                {{i}} {{item.zip}}
                {{i}} {{item.city}}
                {{i}} {{item.district}}
                {{i}} {{item.state}}
                {{i}} {{item.country}}
            </li>
            <div formArrayName="teams">
                <div class="teams" *ngFor="let team of employeeForm.get('teams').controls;
                             let teamIndex = index"
                    [formGroupName]="teamIndex">
                    <mat-form-field class="col-sm-12 mb-3 mb-sm-0">
                        <input matInput type="street" placeholder="Rua" formControlName="street" name="street">
                    </mat-form-field>
                </div>
            </div>
            <div *ngFor="let ingredient of address; let in = index;">
                <div class="form-group row">
                    <input placeholder="Rua" [(ngModel)]="ingredient.street" [ngModelOptions]="{standalone: true}">
                </div>
            </div-->
            <div formArrayName="address">
                <!--div *ngFor="let item of address; let i = index"-->
                <div class="form-group row">
                    <mat-form-field class="col-sm-12 mb-3 mb-sm-0">
                        <input matInput type="street" placeholder="Rua" formControlName="street" name="street">
                    </mat-form-field>
                </div>
                <div class="form-group row">
                    <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                        <input matInput type="number" placeholder="Número" formControlName="number" name="number">
                    </mat-form-field>
                    <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                        <input matInput type="complement" placeholder="Complemento" formControlName="complement" name="complement">
                    </mat-form-field>
                </div>
                <div class="form-group row">
                    <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                        <input matInput type="zip" mask="00000-000" placeholder="CEP" formControlName="zip" name="zip">
                    </mat-form-field>
                    <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                        <input matInput type="district" placeholder="Bairro" formControlName="district" name="district">
                    </mat-form-field>
                </div>
                <div class="form-group row">
                    <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                        <input matInput type="city" placeholder="Cidade" formControlName="city" name="city">
                    </mat-form-field>
                </div>
                <div class="form-group row">
                    <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                        <input matInput type="state" placeholder="Estado" formControlName="state" name="state">
                    </mat-form-field>
                    <mat-form-field class="col-sm-6 mb-3 mb-sm-0">
                        <input matInput type="country" placeholder="País" formControlName="country" name="country">
                    </mat-form-field>
                </div>

            </div>

            <hr />
            <button (click)="register()" [disabled]="employeeForm.invalid" class="btn btn-primary btn-user btn-block">
                <span *ngIf="!employeeSelected">Cadastrar Funcionário</span>
                <span *ngIf="employeeSelected">Alterar Funcionário</span>
            </button>
            <button (click)="return()" class="btn btn-primary btn-user btn-block">
                <span>Voltar</span>
            </button>

        </form>
    </div>
</div>