<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 *ngIf="!inventarySelected" class="h3 mb-0 text-gray-800">Criar inventário</h1>
  <h1 *ngIf="inventarySelected" class="h3 mb-0 text-gray-800">Alterar Inventário</h1>
</div>
<div class="card shadow mb-4">
  <div class="card-body">
    <form class="user" [formGroup]="inventaryForm">

      <div class="form-group row">
        <mat-form-field class="col-sm-12 mb-3 mb-sm-0">
          <input matInput placeholder="Nome do inventário" formControlName="fullname" name="fullname" required>
        </mat-form-field>
      </div>

      <div class="form-group row">
        <mat-form-field class="col-sm-12 mb-3 mb-sm-0">
          <input matInput placeholder="Observações sobre o inventário" formControlName="observations"
            name="observations">
        </mat-form-field>
      </div>

      <hr />
      <button (click)="register()" [disabled]="inventaryForm.invalid" class="btn btn-primary btn-user btn-block">
        <span>Criar Inventário</span>
      </button>
      <button (click)="return()" class="btn btn-primary btn-user btn-block">
        <span>Voltar</span>
      </button>

    </form>
  </div>
</div>