<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Manter Clientes</h1>
  </div>
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nome</th>
              <th>CPF</th>
              <th>CNPJ</th>
              <th>Telefone Principal</th>
              <th>Telefone Secundário</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <!--tr *ngFor="let cliente of clientes">
              <td>{{ cliente.fullname }}</td>
              <td>{{ cliente.cpf | mask: '000.000.000-00'}}</td>
              <td>{{ cliente.cnpj | mask: '00.000.000/0000-00' }}</td>
              <td>{{ cliente.phones.main | mask: '(00) 00000-0000'}}</td>
              <td>{{ cliente.phones.secundary | mask: '(00) 00000-0000'}}</td>
              <td> 
                <a class="btn btn-primary btn-user" [routerLink]="['/admin/clientecadastro']" [state]="cliente">
                  <i class="fas fa-pencil-alt"></i>
                </a>
              </td>
              <td>
                <a class="btn btn-danger btn-user" (click)="deletarCliente(cliente._id)">
                  <i class="fas fa-times-circle"></i>
                </a>
              </td>
            </tr-->
          </tbody>
        </table>
      </div>
      <button [routerLink]="['/admin/clientecadastro']" class="btn btn-primary btn-user btn-block">
        Cadastrar Cliente
      </button>
    </div>
  </div>