/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~@angular/material/theming';
@import '~dragula/dist/dragula.css';
@import '~primeicons/primeicons.css'; 
@import '~primeng/resources/themes/nova-light/theme.css'; 
@import '~primeng/resources/primeng.min.css';

$custom-typography: mat-typography-config(
    $font-family: 'Exo'
);

@include mat-core($custom-typography);

body {
  //padding: 2em;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}