<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Manter Master e Funcionário</h1>
</div>
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Chave</th>
            <th>Nome</th>
            <th>Id Funcionário</th>
            <th>Id Acesso</th>
            <th>Id Dono</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let grupos of gruposSelecionados">
            
            <td>{{ grupos._id }}</td>
            <td>{{ grupos.fullname}}</td>
            <td>{{ grupos.loginId }}</td>
            <td>{{ grupos.userId}}</td>
            <td>{{ grupos.masterEmployee}}</td>
            <!--td>
              <a class="btn btn-primary btn-user" [routerLink]="['/admin/usuarioselecionar']" [state]="grupos">
                <i class="fas fa-pencil-alt"></i>
              </a>
            </td-->
            <td>
              <a class="btn btn-danger btn-user" (click)="deletarMasterEmployee(grupos._id)">
                <i class="fas fa-times-circle"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button [routerLink]="['/admin/usuarioselecionar']" class="btn btn-primary btn-user btn-block">
      Selecionar Funcionário
    </button>
    <div>
       <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
        <button (click)="fileInput.click()">Select File</button>
        <button (click)="onUpload()">Upload!</button>
    </div>

  </div>
</div>